<html>
<head>

<link rel="stylesheet" type="text/css" href="style/style.css">

 <meta charset="UTF-8">

</head>


<body>


<!--
TODO:
* if adding more than one line, make space check and if needed put everything on cleared screen
* make text "scroll": delete oldest line
* make files trigger stuff
-->



<div class="flexcontainer">
  <div class="flexelement">
    <div class="terminal">
      <div class="terminal_border"><br><br>
        <div class="txt">
            <span id="txt">
            </span><span id="input"></span><span id="marker"></span>
        </div>
      </div>
      <div class="terminal_top" style="text-align:justify;text-align-last:center"><div id="glitch">YOU ARE LOVED 他媽的疼痛了</div></div>
      <div class="crossed"></div>
    </div>
    <img class="img" src="style/img/aesthetic-monitor.png" alt="monitor">
</div>
<!-- <div class="flexelement"><img src="style/img/kb.png" alt="keyboard"></div> -->
</div>


</body>

  <script src="main.js"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
<script>

</script>





</html>
